.mainbody{
    width: 100%;
    height: 700px;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

}
    

#txtInput{
    width: 70%;
    height: 500px;
    background-color: aliceblue;
    text-align: initial;
    text-decoration: none;
    border-color: beige;
}

body{
    margin: 0;
}

#btnSpeak{
    text-decoration-color: beige;
    background-color:#380036;
    height: 50px;
    width: 50px;
    color: beige;
    padding-right: 90px;
    border-color: #380036;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: hidden;
    margin-left: 650px;
    font-weight: bold;

}
#voiceList{
    background-color: #380036;

    
    color: beige;
}
.xyz{
    width: 20%;
    padding-top: 50px;
    float: left;
}

.homer{
    font-size: 60px;
    float:  right ;
    width: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin-right: 220px;
}
body{
    margin:0; 
    padding:0; 
    background:#333;
  }
  
  .right-eye{
    background:white; 
    height:150px;
    width:150px; 
    position:absolute;
    top:50%;
    left:10%;
    transform:translate(-50%,-50%) rotate(45deg);
    border-radius : 75% 0;
    overflow:hidden;
  }
  
  

  .ball{
    width:40px; 
    height:40px; 
    background: #68696b;
    border-radius: 50%; 
    border: 30px solid rgb(37, 36, 36);
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
  }
  
  .shut{
    width:300px; 
    height:160px; 
    top:50%; 
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%) rotate(-45deg);
    z-index:999;
  }
  
  .shut span{
    display:block;
    width:100%; 
    height:15%; 
    background:#380036; 
    border-radius: 0 0 60% 60%;
    transition:0.4s all; 
  }
  
  .right-eye:hover >.shut span , 
  .left-eye:hover >.shut span{
    height:100%;
  }
  
